* {
    box-sizing: border-box;
}

html,
body {
    
    background-image: linear-gradient( rgb(88, 35, 88) 30%, rgb(185, 135, 179));
    margin: auto;
    
}

.head-wrap {
    display: flex;
}
.main-header {
    height: 100px;
    width: 100%;
    background-color:  rgb(250, 132, 77);
    box-shadow: 0px 5px 5px black;
    text-align: center;
    align-self: flex-start;
    order: -2;
    
    
}

.go-back {
    margin-top: auto;  
    color: aliceblue;
}

a:visited {
    color: aliceblue;

}
    
.counter {
    text-align: center;
    color: rgb(250, 132, 77)
}

.quiz-text {
    text-align: center;
    margin-top: 10px;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    
}

.image-wrap {
    width: 75%;
    height: 200px;
    margin: 0px auto;
    margin-top: auto;
    /* background-color:rgb(88, 35, 88); */
    background-size: contain;
    display: flex;
    align-items: center;  
    box-shadow: 5px 5px 5px black;
    border-radius: 20%;
}

.ant-image {
    height: 100%;
    width: 100%;
    border-radius: 20%;
}


img {
    width: 100%;
    height: auto;
    
 }

.options {
    width: 75%;
    height: fit-content;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 80px;
    background-color: rgb(250, 132, 77);
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.answer {
    width: 90%;
    height: 3em;
    background-color: cadetblue;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nextButton {
    width: 95%;
    height: 5em;
    background-color: cadetblue;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: aliceblue;
}


:disabled {
    color: black;
}



.main-footer {
    height: 10vh;
    width: auto;
    margin-bottom: auto;
    /* background: linear-gradient(transparent, 50%, rgb(250, 132, 77)); */
    display: flex;
    justify-content: center;
}


/* MEDIA QUERIES */

@media(min-width: 400px) {
    .image-wrap {
        width: 310px;
        height: 210px;
    }
    
    .options {
        width: 310px;
        height: auto;
    
}





@media(min-width: 610px) {

    /* .main-header {
        height: 100px;
        width: 100%;
        background-color:  rgb(250, 132, 77);
        box-shadow: 0px 5px 5px black;
        text-align: center;
        align-self: flex-start;
        order: -2;
    } */
        .image-wrap {
            width: 400px;
            height: 300px;
        }
        
        .options {
            width: 400px;
            height: auto;
        
           
        
        }
        .answer {
            width: 45%;
            height: 5em;
            background-color: cadetblue;
            margin: 10px;
            display: flex;
            justify-content: center;
        
}
}

@media(min-width: 1000px) {
  
    .image-wrap {
        width: 450px;
        height: 350px;
        
        
}

    .options {
    width: 450px;
    height: auto;
    
   

}
    .answer {
    width: 45%;
    height: 5em;
    background-color: cadetblue;
    margin: 10px;
    display: flex;
    justify-content: center;

}

}
