

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: linear-gradient( rgb(88, 35, 88) 30%, rgb(185, 135, 179));
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main-header {
    height: 100px;
    width: 100%;
    background-color:  rgb(250, 132, 77);
    box-shadow: 0px 5px 5px black;
    text-align: center;
    order: -2;
    
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    width: 95%;
    padding: 60px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background-image: url(img/pexels-bianca-marolla-822478.jpg);
    background-size: cover;
    
}

a,
a:visited {
    color: black;  
}

.portal {
    background-color: rgb(250, 132, 77);
    height: 30%;
    width: 99%;
    margin: 10px;
    text-align: center;
    /* flex-grow: auto; */
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    margin-bottom: 30px;
}

.portal:hover {
    transform: scale(1.025);
}

/* .pic {
    align-items: center;
} */

.img-header {
    background: rgb(250, 132, 77);
    margin-bottom: auto;
    border-radius: 2%;
}

.gallery {
    background-image: url(img/sable1.jpg);
    background-size: cover;
}

.quiz-start {
    order: 1;
    flex-grow: 60%;
    background-image: url(img/bongo1.jpg);
    background-size: cover;
}

.visit {
    order: 2;
    background-image: url(img/pexels-oleg-magni-861339.jpg);
    background-size: cover;
}

/* .infotext {
    display: flex;
    order: 0;
    align-self: center;
    width: 90%;
} */

/* p {
    color: darkgray;
} */

.main-footer {
    height: 10vh;
    width: auto;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

/* Media Queries */

@media(min-width: 728px) {
   .container {      
        background-color: aliceblue;
        /* flex-direction: row;
        flex-wrap: wrap; */
        justify-content: space-evenly;
}

.portal {
    height: 400px;
    width: 350px;
}

.gallery {
    align-self: flex-start;
    width: 45%;
}

.visit {
    align-self: flex-end;
    width: 95%;
}

.quiz-start {
    flex-grow: 60%;
    width: 45%;
}

/* .infotext {
    font-size: 1.5em;
} */

}

@media(min-width: 1090px) {
    .container {
        background-color: steelblue;
        flex-direction: row;
        flex: nowrap;
        justify-content: space-evenly;
    }

    .portal {
        height: 60vh;
        width: max-content;
        
        
        
    }
    .quiz-start {
        width: 30%;
        position: relative;
        transform: inherit;
    }

    .gallery {
        width: 30%;
    }

    .visit {
        width: 30%;
    }


}
